.cuadroHorario {
    @extend %centarContenido;
    grid-area: horario;
    max-height: 300px;
    width: 250px;
    align-items: center;
    justify-content: space-between;
}

.cuadroContacto {
    @extend %centarContenido;
    grid-area: contacto;
    width: 300px;
    max-height: 200px;
    align-items: center;
    justify-content: flex-start;
}

.liTitulo {
    justify-content: center;
    display: flex;
}

.cuadroHorario,
.cuadroContacto {
    @extend %cuadrosTextos;
    list-style-type: none;   
}

.cuadroHorario li,
.cuadroContacto li {
    list-style-type: none;
}

.direccion {
    @extend %centarContenido;
    @extend %cuadrosTextos;
    grid-area: calle;
    max-height: 100px;   
}

.maps {
    @extend %cuadrosTextos;
    @extend %centarContenido;
    grid-area: maps;
}

.cuadroContacto img {
    height: 2rem;
}

.list_mediosContacto {
    @extend %cuadrosTextos;
}