@import 
"./partials/header",
"./partials/mediaDesktop",
"./partials/mediaTablet",
"./partials/mediaMobile",
"./partials/footer",
"./partials/pestañas/nuestrasPatitas",
"./partials/pestañas/donaciones",
"./partials/pestañas/dondeEncontrarnos",
"./partials/pestañas/mercadoDeLasPulgas",
"./partials/pestañas/index";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin+pading+contenido */
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

body {
    background-image: url("../img/fondoBody.webp");
}


.lsContact {
    list-style-type: none;

    .iconsContacto {
        max-height: 0.7rem;
    }
}

.historiaRefugio,
.cuadroContacto,
.direccion,
.maps,
.apadrinar .list_mediosContacto,
.textoVoluntario,
.voluntario,
.cuadroHorario {
    border: 1px solid;
    background-color: white;
}

.cuadroContacto,
.cuadroHorario,
.direccion,
.maps,
.textoVoluntario {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}