@import 
"./partials/extends",
"./partials/mixins",
"./partials/maps",
"./partials/header",
"./partials/mediaDesktop",
"./partials/mediaTablet",
"./partials/mediaMobile",
"./partials/footer",
"./partials/pestañas/nuestrasPatitas",
"./partials/pestañas/donaciones",
"./partials/pestañas/dondeEncontrarnos",
"./partials/pestañas/mercadoDeLasPulgas",
"./partials/pestañas/index",
"./partials/pestañas/entregable";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin+pading+contenido */
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

body {
    background-image: url("../img/fondoBody.webp");
}


.lsContact {
    list-style-type: none;

    .iconsContacto {
        max-height: 0.7rem;
    }
}