.btnDonaciones,
.collapseDonaciones {
    display: flex;
    justify-content: center;
}

.voluntario {
    @extend %cuadrosTextos;
    height: 300px;
    width: 500px;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    align-items: center;    
}