.parr1 {
    @extend %valoresParrafos;
}

.parr2 {
    @extend .parr1;
    color: rgba(223, 23, 23, 0.555);
}

.parr3 {
    @extend .parr2;
    background-color: rgba(157, 196, 52, 0.555);
}

.mixins1 {
    @include mixinParrafo($colorFuente:red);
}

.mixins2 {
    @include mixinParrafo($colorFuente:rgb(106, 60, 212), $colorFondo:rgb(85, 180, 114));
}

.mixins3 {
    @include mixinParrafo($colorFuente:rgb(169, 30, 187), $colorFondo:rgb(207, 192, 57), $tamFuente:50px);
}

.maps1 {
    color: map-get($estilosEntregable, $key: colorMap1);
    padding: map-get($estilosEntregable, $key: paddingMap1);
}

.maps2 {
    background-color: map-get($estilosEntregable, $key: backgroundMap2);
    border: map-get($estilosEntregable, $key: borderMap2);
}

.maps3 {
    font-size: map-get($estilosEntregable, $key: tamMap3);
    background-color: map-get($estilosEntregable, $key: backgroundMap3);
}