.cardsMercado {
    display: grid;
}

.cardsMercado .card img {
    height: 15rem;
}

.parrafoMercado{
    @extend %cuadrosTextos,%centarContenido;
    width: 500px;
}

.btnCarrito{
    border: 1px solid;
    background-color: $colorPrincipal;
}