%cuadrosTextos {
    border: 1px solid;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

%centarContenido{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

// reutilizable en varios lugares como partials de index, donaciones, donde encontrarnos


//utilizado solo para el entregable
%valoresParrafos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}