//solo para el entregable
$estilosEntregable: (
    colorMap1:rgb(21, 226, 72),
    paddingMap1:20px,
    backgroundMap2:rgb(36, 56, 168),
    borderMap2:dotted,
    tamMap3:30px,
    backgroundMap3:rgb(131, 20, 131)
)