//solo para el entregable
@mixin mixinParrafo($colorFuente, $colorFondo: "", $tamFuente:""){
    color: $colorFuente;
    @if ($colorFondo != ""){
        background-color: $colorFondo;
    }
    @if ($tamFuente != ""){
        font-size: $tamFuente;
    } 
}